* {
  padding: 0%;
  margin: 0%;
  color: rgb(32, 0, 128);
  background-color: rgb(206, 43, 151);
}

.title {

  color: aqua;
}

#t1 {
  color: chocolate;
}
.para {
  background-color: yellow;
}
.para.text {
  background-color: cadetblue;
}
p{
  background-color: aqua;
}
p.para{
  background-color: rgb(234, 255, 0);
}